body{
    font-family: Arial;
}
header{
    background-color: aliceblue;
    border: 4px solid deepskyblue;
}
main{
    background-color: aliceblue;
    border: 3px solid deepskyblue;
}
h1{
    font-family: Arial;
    font-size: 20px;
    color: cadetblue;
}
footer{
    background-color: aliceblue;
    border: 3px solid deepskyblue;
}